<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type='text/javascript'>

        function callme(){
        //This promise will resolve when the network call succeeds
        //Feel free to make a REST fetch using promises and assign it to networkPromise
        var networkPromise = fetch('/get_file')
          .then(response => response.text())
          .then(data => {
            console.log(data);
    
            //
            // Set guage code
            //
    
            document.getElementById("chat").innerHTML=data
    
            //
            // End set guage code
            //
    
          });;
    
    
        //This promise will resolve when 2 seconds have passed
        var timeOutPromise = new Promise(function(resolve, reject) {
          // 2 Second delay
          setTimeout(resolve, 10000, 'Timeout Done');
        });
    
        Promise.all(
        [networkPromise, timeOutPromise]).then(function(values) {
          console.log("Atleast 2 secs + TTL (Network/server)");
          //Repeat
          callme();
        });
        }
        callme();
      </script>
</head>
<body>
    <div class="textzone">
        <pre id="chat" ></pre> 
      </div> 
</body>
</html>